<!doctype html>
<html lang="en-PK">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Syed Muhammad Khizer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Pakistan & Palestine</title>

    <link rel="shortcut icon" type="image/x-icon" href="favicon.webp" />
    <link rel="icon" type="image/x-icon" href="favicon.webp" />
  </head>

  <body class="w-full flex flex-col justify-center items-center">
    <div class="w-full p-6 text-center">
      <h1 class="text-3xl font-bold">ابراہیمؑ کا طریقہ</h1>
    </div>

    <p class="w-full p-6 text-justify text-lg">
      القرآن - سورۃ نمبر 2 البقرة آیت نمبر 130,131 أَعُوذُ بِاللَّهِ مِنَ
      الشَّيْطَانِ الرَّجِيمِ بِسْمِ اللّٰهِ الرَّحْمٰنِ الرَّحِيْمِ وَمَنْ
      يَّرْغَبُ عَنْ مِّلَّةِ اِبْرٰهٖمَ اِلَّا مَنْ سَفِهَ نَفْسَهٗ ۗ وَلَقَدِ
      اصْطَفَيْنٰهُ فِى الدُّنْيَا ۚ وَاِ نَّهٗ فِى الْاٰ خِرَةِ لَمِنَ
      الصّٰلِحِيْنَ۞ ترجمہ: "اب کون ہے، جو ابراہیمؑ کے طریقے سے نفرت کرے؟ جس نے
      خود اپنے آپ کو حماقت و جہالت میں مبتلا کر لیا ہو، اس کے سو ا کون یہ حرکت
      کرسکتا ہے؟ ابراہیمؑ تو وہ شخص ہے، جس کو ہم نے دنیا میں اپنے کام کے لیے چُن
      لیا تھا اور آخرت میں اس کا شمار صالحین میں ہوگا" اِذْ قَا لَ لَهٗ رَبُّهٗۤ
      اَسْلِمْ ۙ قَا لَ اَسْلَمْتُ لِرَبِّ الْعٰلَمِيْنَ۞ ترجمہ: "اس کا حال یہ
      تھا کہ جب اس کے رب نے اس سے کہا: "مسلم ہو جا"، تو اس نے فوراً کہا: "میں
      مالک کائنات کا "مسلم" ہو گیا" ابراہیمؑ کا طریقہ، یہاں تک کہ اکلوتے بیٹے کو
      ذبح کرنے کا حکم آیا تو اس پر بھی سرتسلیم خم کردیا۔ یہ حضرت ابراہیم علیہ
      السلام کے سلسلۂ امتحانات کا آخری امتحان تھا جو اللہ تعالیٰ نے ان کا سو برس
      کی عمر میں لیا۔ اللہ تعالیٰ سے دعائیں مانگ مانگ کر ستاسی برس کی عمر میں
      بیٹا اسماعیل علیہ السلام لیا تھا اور اب وہ تیرہ برس کا ہوچکا تھا ‘ باپ کا
      دست وبازو بن گیا تھا۔ اس وقت اسے ذبح کرنے کا حکم ہوا تو آپ علیہ السلام
      فوراً تیار ہوگئے۔ یہاں فرمایا جا رہا ہے کہ جب بھی ہم نے ابراہیم علیہ
      السلام سے کہا کہ ہمارا حکم مانو تو اسے حکم برداری کے لیے سراپا تیار پایا۔
      اللہ تعالیٰ ہمیں بھی اس طرز عمل کی پیروی کی توفیق عطا فرمائے۔ آمین !
      ابراہیمؑ کا طریقہ - اطاعت الی اللہ
    </p>
  </body>
</html>
