<!doctype html>
<html lang="en-PK">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Syed Muhammad Khizer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Pakistan & Palestine</title>

    <link rel="shortcut icon" type="image/x-icon" href="favicon.webp" />
    <link rel="icon" type="image/x-icon" href="favicon.webp" />
  </head>

  <body class="w-full flex flex-col justify-center items-center">
    <div class="w-full p-6 text-center">
      <h1 class="text-3xl font-bold">فلسطین اور پاکستان کے تین طبقات</h1>
    </div>

    <p class="w-full p-6 text-justify text-lg">
      فلسطین کی موجودہ صورتحال میں پوری دنیا کے مسلمانوں کا کردار بےحد شرمناک ہے
      اور اب یہ بات بھی واضح ہوگئی ہے کہ مسلمان صرف نام کی حد تک مسلمان ہیں، ان
      کے کردار میں مسلمانی دور دور تک نہیں بستی۔ ایسے مسلم ممالک بھی ہیں جنہوں
      نے اسرائیل کو امدادی سامان کے پورے پورے جہاز بہیجے ہیں اور ایسے غیر مسلم
      ممالک بھی ہیں جو باوجود اس کے کہ وہ مسلمان نہیں ہیں، انہوں نے اسرائیلی
      وزیراعظم کی گرفتاری کا مطالبہ کیا ہے۔ اس پوری صورتحال میں جہاں عرب ممالک
      نے انتہائی بےغیرتی کا مظاہرہ کیا ہے وہاں پاکستان کی حکومت کا کردار بالکل
      صفر رہا ہے۔ موجودہ نگران حکومت کی نالائقی آسمانوں کو پار کر گئی ہے اور
      اسرائیل کے حوالے سے ایک لفظ حکومت کی طرف سے سنائی نہیں دیا۔ مسلمانوں کی اس
      ذلت کا قصوروار کوئی ایک مسلم ملک، کوئی حاکم، حکومت یا کوئی ادارہ نہیں ہے
      بلکہ اس میں سارے مسلمانوں کا برابر کا حصہ ہے (الا ماشاءاللہ) اور اس کی وجہ
      یہ ہے،
    </p>

    <p class="w-full p-6 text-justify text-lg">
      اَفَتُؤْمِنُوْنَ بِبَعْضِ الْكِتٰبِ وَتَكْفُرُوْنَ بِبَعْضٍ ۚ فَمَا
      جَزَآءُ مَنْ يَّفْعَلُ ذٰلِكَ مِنْکُمْ اِلَّا خِزْيٌ فِى الْحَيٰوةِ
      الدُّنْيَا ۚ وَيَوْمَ الْقِيٰمَةِ يُرَدُّوْنَ اِلٰۤى اَشَدِّ الْعَذَا
      بِ ۗ وَمَا اللّٰهُ بِغَا فِلٍ عَمَّا تَعْمَلُوْنَ "تو کیا تم کتاب کے ایک
      حصے پر ایمان لاتے ہو اور دوسرے حصے کے ساتھ کفر کرتے ہو پھر تم میں سے جو
      لوگ ایسا کریں، ان کی سزا اس کے سوا اور کیا ہے کہ دنیا کی زندگی میں ذلیل و
      خوار ہو کر رہیں اور آخرت میں شدید ترین عذاب کی طرف پھیر دیے جائیں؟ اللہ ان
      حرکات سے بے خبر نہیں ہے، جو تم کر رہے ہو" اس تحریر میں اگے چل کے جہاں عوام
      کے تین طبقات کا ذکر ہے، اوپر درج آیت کا تعلق اس طبقے سے ہے جس کا تذکرہ آگے
      چل کے طبقات والے حصے میں دوسرے نمبر پر کیا گیا ہے۔
    </p>

    <p class="w-full p-6 text-justify text-lg">
      مسلمانوں کی نافرمانی ان حالات کا سبب ہے جو مسلمانوں پر آئے ہوئے ہیں بہرحال
      مسلمانوں کی ذلت ان کی جزوی اطاعت کے باعث ہے جیسا کے اوپر آیت میں آیا ہے کہ
      جزوی اطاعت دنیا میں ذلت اور رسوائی اور آخرت میں شدید ترین غذاب کا باعث ہے۔
      لوگ حکومتوں کو تو خوب برا کہتے اور ان پر لعن طعن کرتے ہیں لیکن اس بات سے
      ناواقف ہیں کہ وہ اللہ کی اطاعت جزوی طور پر کر رہے ہیں جو کہ اللہ کو قبول
      نہیں ہے، اللہ کا مطالبہ تو یہ ہے، يٰۤاَ يُّهَا الَّذِيْنَ اٰمَنُوا
      ادْخُلُوْا فِى السِّلْمِ کَآ فَّةً ۖ  "اے ایمان لانے والو! تم پورے کے
      پورے اسلام میں آ جاؤ" ملک میں بے دینی کا رونا روتے ہیں مگر اس بات کو نہیں
      سوچتے کے ہمارے اپنے گھروں میں دین نہیں ہے۔ کوئی بھی مسلمان پوری شریعت پر
      عمل کرنے والا نہیں ہے کوئی گھرانہ ایسا نہیں ہے (الا ماشاءاللہ)، ہمارے
      گھروں کے اندر دین نہیں ہے لہذا مسلمانوں کی ذلت کا ذمہ حکمرانوں کے سر پر
      ڈالنا سو فیصد غلط ہے۔ کوئی بھی اس بات کا اہل اس وقت تک نہیں ہو سکتا کہ دین
      کے معاملے میں کسی پر اعتراض کرے یا کسی کو برا کہے جب تک کہ خود دین پر عمل
      نہیں کرتا، چاہے کوئی فرد ہو یا حکومت۔ لہذا فلسطین کے حوالے سے مسلمانوں کی
      ذلت صرف حکمرانوں کا قصور نہیں ہے بلکہ مسلمان عوام اس میں پوری پوری حصہ دار
      ہے۔
    </p>

    <p class="w-full p-6 text-justify text-lg">
      بہرحال پاکستان کی حکومت کا نہیں بلکہ پاکستان کی عوام کا کردار فلسطین کے
      معاملے میں زیر بحث ہے۔ پاکستان میں بسنے والے کچھ ایسے لوگ بھی ہیں جو حکومت
      سے بے امید ہیں اور ان کا ماننا یہ ہے کہ ہم اللہ سے فلسطینیوں کے لئے دعا
      کریں گے۔ یہ لوگ فلسطینیوں کے لئے دعائیں تو کرتے ہیں مگر میرا سوال یہ ہے کہ
      کیا ایسے لوگوں کی دعائیں اس قابل ہیں کہ باگاہ الہی میں قبولیت کی اہل ہوں
      اور قبولیت کا کوئی درجہ پائیں؟ اس پوری تحریر میں موضوع "پاکستان کی عوام کا
      فلسطین کے حالات کے حوالے سے کردار" ہے۔ میں پاکستان کے موجودہ حالات کو
      دیکھتے ہوئے، پاکستان کی عوام کو تین طبقات میں تقسیم کروں گا، *ایک طبقہ وہ
      جو "اِلٰهَهٗ هَوٰٮهُ" والے ہیں، *دوسرا طبقہ وہ جو نماز کے پابند، روزے
      رکھنے والے، عبادات میں اپنا وقت قیمتی بنانے والے اور خلق خدا کی خدمت کرنے
      والے اور دیگر نیکیاں کرنے والے ہیں، *تیسرا طبقہ وہ جو دین کا علم حاصل کرتے
      ہیں اور وہ یہ اس لئے کرتے ہیں تاکہ اس پر عمل کریں نہ کے عالم بننے کے لئے،
      وہ علم کی حد تک محدود نہیں رہتے بلکہ عمل لازما کرتے ہیں اور جتنی ان کی
      استطاعت ہوتی ہیں اس حساب سے وہ دین کو قائم کرتے ہیں اور اللہ سے مزید
      استطاعت کے دعاگوہ ہوتے ہیں۔ یہ پاکستان میں پائے جانے والے تین طبقات ہیں۔
      ان تینوں کا فلسطین کے حوالے سے کیا کردار ہے اس پر ایک اظہار خیال تحریر ہے۔
    </p>

    <p class="w-full p-6 text-justify text-lg">
      پہلا طبقہ یعنی اِلٰهَهٗ هَوٰٮهُ والے، یہ وہ طبقہ ہیں جو تعداد میں بہت
      زیادہ ہیں اور ہر زور ان کی تعداد میں اضافہ ہوتا چلا جا رہا ہے۔ اِلٰهَهٗ
      هَوٰٮهُ والا ہونے سے مراد یہ ہیں کہ یہ وہ لوگ ہیں جو اللہ سے بہت دور اور
      گمراہی میں بہت آگے پہنچ جانے والے ہیں کیونکہ یہ اللہ کے بجائے اپنے نفس کو
      اپنا الہ بنا بیٹھے ہیں۔ جیسا ان کا نفس ان کو کہتا ہے یہ ویسا کرتے ہیں، جس
      برائی پے نفس اکساتا ہیں فورا نفس کی خواہش پوری کرتے ہیں اور اس بات کی کوئی
      پرواہ نہیں کرتے کہ نفس نے جس خواہش پے اکسایا تھا وہ جائز اور حلال تھی یا
      ناجائز اور حرام۔ یہ طبقہ ملک میں برائیوں کو عام کرنے میں کوشاں ہے اور اسی
      حوالے سے چند باتیں اس تحریر کے بالکل آخر میں لکھی ہیں۔ بہرحال یہ وہ لوگ
      ہیں جن کا اللہ پر کوئی ذمہ نہیں۔ رہا فلسطین کا معاملہ تو ایسے لوگوں کے پاس
      اتنی فرصت نہیں ہے کہ فلسطین کے حوالے سے کوئی اقدام لیں، ایسے لوگ تو اپنے
      نفس کی خواہشات پوری کرنے اور اپنے عیش اور مستیوں میں مگن ہیں اور فلسطین کے
      حوالے سے ان کا کوئی خاص کردار پاکستان کی عوام ہونے کی حیثیت سے نہیں ہے۔
      جہاں تک نفس کو الہ بنانے کا معاملہ ہے تو اس کے بارے میں قرآن میں اللہ
      تعالی کا ارشاد ہیں، اَفَرَءَيْتَ مَنِ اتَّخَذَ اِلٰهَهٗ هَوٰٮهُ وَاَ
      ضَلَّهُ اللّٰهُ عَلٰى عِلْمٍ وَّخَتَمَ عَلٰى سَمْعِهٖ وَقَلْبِهٖ وَجَعَلَ
      عَلٰى بَصَرِهٖ غِشٰوَةً ۗ فَمَنْ يَّهْدِيْهِ مِنْۢ بَعْدِ
      اللّٰهِ ۗ اَفَلَا تَذَكَّرُوْنَ "پھر کیا تم نے کبھی اُس شخص کے حال پر بھی
      غور کیا جس نے اپنی خواہش نفس کو اپنا خدا بنا لیا اور اللہ نے علم کے باوجود
      اُسے گمراہی میں پھینک دیا اور اُس کے دل اور کانوں پر مہر لگا دی اور اُس کی
      آنکھوں پر پردہ ڈال دیا؟ اللہ کے بعد اب اور کون ہے جو اُسے ہدایت دے؟ کیا تم
      لوگ کوئی سبق نہیں لیتے؟"
    </p>

    <p class="w-full p-6 text-justify text-lg">
      دوسرا طبقہ یعنی نماز کے پابند، روزے رکھنے والے، عبادات میں وقت کو قیمتی
      بنانے والے اور خلق خدا کی خدمت کے ساتھ ساتھ دیگر نیکیاں کرنے والے، یہ وہ
      طبقہ ہے جو بظاہر تعداد میں کافی زیادہ ہے۔ یہ وہ طبقہ ہے جس نے اسلام کو
      ثواب حاصل کرنے کا ذریعہ بنا لیا ہے اور اپنی ہی طرف سے اسلام کو مذہب بنا
      دیا ہے جس سے مجھے شدید اختلاف اور نفرت ہے۔ اسلام کیا ہے یہ وہی بتائے گا جس
      نے اسے نازل کیا ہے۔ اسلام اللہ نے نازل کیا ہے اور اس کو دین کے طور پہ نازل
      کیا ہے، پورے قرآن میں کہیں پر ایک مرتبہ بھی اسلام کے ساتھ مذہب کا لفظ ہے
      ہی نہیں، جہاں اسلام کا نام آیا ساتھ اس کو دین کہا گیا۔ یہ وہ طبقہ ہے جو
      اللہ سے دعائیں مانگتا ہے کہ "یااللہ فلسطینیوں کی مدد فرما اور ان پر رحم
      فرما" حالانکہ یہ لوگ اللہ کے بتائے ہوئے بنیادی ضابطے کو پورا نہیں اور اللہ
      سے یہ امید رکھتے ہیں کہ اللہ ان کی مدد کرے اور ان کی دعائیں قبول کرے۔ جس
      بنیادی ضابطے کا اوپر تذکرہ کیا ہے وہ یہ ہے، يٰۤـاَيُّهَا الَّذِيْنَ
      اٰمَنُوْۤا اِنْ تَـنْصُرُوا اللّٰهَ يَنْصُرْكُمْ "اے لوگو جو ایمان لائے
      ہو، اگر تم اللہ کی مدد کرو گے تو وہ تمہاری مدد کرے گا" یہ وہ طبقہ ہے جو
      سمجھتا ہے کہ میری نماز، روزہ اور دیگر عبادات کافی ہیں اور یہی اس کی سب سے
      بڑی بھول ہے اور اس بھول کی سب سے بڑی وجہ مسلمانوں کا قرآن کو اپنا امام نہ
      بنانا اور قرآن سے دوری ہے۔ ایک انسان اگر مسلمان ہونے کا دعوی کرتا ہے تو اس
      کے لئے انفرادیت کی کوئی گنجائش باقی نہیں رہتی۔ قرآن میں اللہ تعالی نے
      مسلمانوں کو ان کے اس فرض سے باخبر کیا ہے کہ وہ برائیوں کو روکیں اور
      اچھائیوں کو پھیلائے۔ حدیث میں بھی یہ مضمون آیا ہے۔
    </p>

    <p class="w-full p-6 text-justify text-lg">
      اب اس طبقے کا مسئلہ یہ ہے کہ یہ اس گمان میں ہوتا ہے کہ اگر کوئی دوسرا کوئی
      برائی کر رہا ہے تو مجھے اس سے کیا حالانکہ مسلمان ہونے کی حیثیت سے اس کا
      فرض ہے کے یہ اس برائی کو اپنی استطاعت کے مطابق روکے۔ اب اگر وہ اس خیال سے
      کہ میں تو وقت پر نماز بھی پڑھ چکا اور رمضان کے علاوہ نفلی روزے تک رکھتا
      ہوں، اس برائی کو نہیں روکتا تو وہ مسلمان ہونے کے بنیادی فرض کو ترک کر رہا
      ہے اور اس کی اس کو پرواہ بھی نہیں ہے۔ یہ وہ لوگ ہیں جو اپنی نیکیوں پر
      مطمئین اول تو برائی کو برا ہی نہیں جانتے۔ جو جان لیتے ہیں وہ ہاتھ سے اس
      برائی کو نہیں روکتے، ہاتھ تو دور کی بات زبان سے بھی اس برائی کا انکار نہیں
      کرتے۔ یہاں ایک اور بات جو کہ بہت قابل غور ہے وہ یہ کہ برائی کو ہاتھ سے
      روکنے کا تو یہ خواب تک نہیں دیکھتے، یہ خواب میں بھی یہ تصور نہیں کرتے کہ
      ہم اپنے ارد گرد پھیلی برایئوں کو ہاتھ سے روکیں بلکہ حال تو یہ ہے کہ یہ خود
      ان برایئوں میں حصہ لیتے ہیں اور ان کے فروغ اور ان کی ترویج میں بھی مددگار
      ثابت ہوتے ہیں۔ اس طبقے میں ایسے لوگ بھی پائے جاتے ہیں جن کا ماننا یہ ہے کہ
      اگر برائی کو فقط دل میں برا بھی جان لیا جائے تو کافی ہیں حالانکہ ایسا ہرگز
      نہیں ہے کیونکہ برائی کو کس درجے میں روکا جائے گا اس کا فیصلہ ہر موقع اور
      ہر مسلمان کی استطاعت کے حساب سے ہوگا۔ اگر تو ایک مسلمان اتنی استطاعت رکھتا
      ہے کہ برائی کو ہاتھ سے روک سکتا ہو پھر بھی اس کو صرف دل میں برا جانے تو وہ
      ظالم ہے۔ اس لئے کہ برائی کو دل میں برا جاننا اس صورت میں ہے جب برائی کو
      زبان یا ہاتھ سے روکنے کی استطاعت نہ ہو اگر استطاعت ہونے کہ باوجود صرف دل
      میں برائی کو برا جانا جائے تو یہ ظلم، بزدلی اور بےغیرتی ہے۔ گویا کہ یہ لوگ
      ایمان کے کمزور ترین درجے پر ہی راضی ہیں اور ایمان میں ترقی کے امیدوار نہیں
      ہیں۔ یہ ہیں وہ لوگ جو جزوی اطاعت کرنے والے ہیں جس کے بارے میں اس تحریر میں
      اوپر بھی بات گزر چکی ہے۔ اس کے علاوہ دین کی دعوت و تبلیغ اور دین کو قائم
      کرنے کی جد وجہد جیسے فرائض بھی ان کی نظر سے اوجھل ہیں۔
    </p>

    <p class="w-full p-6 text-justify text-lg">
      ایک اور مغالطہ جو اس طبقے کو لگا ہوتا ہے، وہ یہ کہ مخلوق کی خدمت کو یہ کل
      کا کل دین سمجھتے ہیں۔ مخلوق کی خدمت دین کا حصہ ہے نہ کے پورا کا پورا دین۔
      اگر حقوق کی ادائیگی اتنی ہی اہم چیز ہے تو سب سے پہلے تو اللہ کا حق ہے اور
      اللہ کا حق صرف یہ نہیں ہے کہ نماز اور دیگر عبادات کر لی جائیں بلکہ اللہ کا
      حق تو یہ ہے کہ اللہ کے دین کو قائم کیا جائے، اللہ کی نازل کردہ شریعت کو
      نافذ کیا جائے اور اللہ کی نہ صرف بندگی بلکہ کامل بندگی کی جائے۔ یہ وہ
      باتیں اور دین کا وہ رخ ہے جو اکثریت کی نظروں سے اوجھل ہے مگر یہ دین کی
      بنیاد اور دین کا اصل ہے۔
    </p>

    <p class="w-full p-6 text-justify text-lg">
      تیسرا طبقہ یعنی وہ جو دین پر عمل اور دین کو اپنی استطاعت کے مطابق قائم
      کرنے والے، یہ وہ طبقہ ہے جس کی تعداد دوسرے دونوں طبقوں کے مقابلے میں اتنی
      کم ہے کہ ان کا شمار بھی ممکن ہے مگر اللہ کے محبوب یہی ہیں۔ یہ وہ طبقہ ہے
      جس کی زندگی کا مقصد اللہ کے دین کا قیام اور اللہ کی نازل کردہ شریعت کا
      نفاذ نہ صرف دوسروں پر بلکہ اپنی ذات پر بھی اور انفرادیت سے ہٹ کر اجتماعیت
      اور پورے نظام کو اللہ کی رضا اور خوشنودی والا بنانا ہے۔ یہ وہ لوگ ہیں جو
      دین کا علم حاصل کرتے ہی اس لئے ہیں تاکہ اس پر عمل کریں نہ کے عالم بننے کے
      لئے، وہ علم کی حد تک محدود نہیں رہتے بلکہ عمل لازما کرتے ہیں اور جتنی ان
      کی استطاعت ہوتی ہیں اس حساب سے وہ دین کو قائم کرتے ہیں اور اللہ سے مزید
      استطاعت کے دعاگوہ ہوتے ہیں۔ یہ وہ لوگ ہیں کہ جن کی دعائیں اس قابل ہیں کہ
      بارگاہ الہی میں پیش کی جائیں اور اللہ اپنے فضل سے ان کی دعائیں قبول فرمائے
      اور ان کی مدد فرمائے کیونکہ یہ لوگ اللہ کے اس ضابطے کو پورا کرتے ہیں جس کا
      اوپر ذکر گزر چکا ہے۔ تحریر میں اوپر ایک ایسے طبقے کا ذکر گزرا ہے جو ملک
      میں برایئوں کو عام کرنے میں کوشاں ہے۔ اس حوالے سے میں پڑھنے والوں کی توجہ
      اس طرف دلانا چاہتا ہوں کہ ایک طرف فلسطین کے حالات ہیں اور دوسری طرف ملک
      میں آئے دن کانسڑتس کروائے اور کئے جارہے ہیں۔ ہر دوسرے تعلیمی ادارے اور
      تعلیمی اداروں کے علاوہ بھی کانسڑٹ ہو رہے ہیں۔ یہ رویہ اس بات کی کھلی تصویر
      پیش کرتا ہے کہ پاکستان میں رہنے والوں کو، پاکستان کے بڑوں کو، مردوں کو،
      عورتوں کو، جوانوں کو، کسی کو بھی فلسطین کے مظلوم مسلمانوں کی کوئی پرواہ
      نہیں۔ اور یہی لوگ پھر مسلم ممالک کے حکمرانوں کو اس بات پر لعن طعن کرتے ہیں
      کہ وہ فلسطین کے لئے کچھ کر نہیں رہے۔ وہ نہیں کر رہے تو آپ بھی نہیں کر رہے،
      آپ بھی پورے جرم میں برابر کے شریک ہیں۔ بات کا خلاصہ یہ کہ پاکستان کی عوام
      کی اکثریت اس اہل ہے ہی نہیں کہ فلسطین کے لئے ان کی دعائیں قبولیت کا درجہ
      پائیں (الا ماشاءاللہ)
    </p>
  </body>
</html>
